body {
  background: linear-gradient(45deg, #1870ed 0, #f18f88 100%);
  font-family: 'Montserrat', 'sans-serif';
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.7;
  text-transform: uppercase;
}
.timer_container {
  position: relative;
}

.new_date {
  position: absolute;
  top: 15%;
  left: 35%;
  color: white;
}

.new_date input {
  width: 200px;
  height: 40px;
  text-transform: uppercase;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 20px;
  letter-spacing: 0.2em;
}

.timer {
  display: flex;
  background-color: #080808;
  min-width: 809px;
  border-radius: 5px;

  padding: 60px 20px;
  box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.15), 0 15px 90px 30px rgba(0, 0, 0, 0.25);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: 40px;
  margin-left: 40px;

  width: 130px;
  position: relative;
  &:not(:last-child):before,
  &:not(:last-child):after {
    content: '';
    background-color: rgba(255, 255, 255, 0.3);
    height: 2px;
    width: 2px;
    border-radius: 50%;
    display: block;
    position: absolute;
    right: -42px;
  }
  &:not(:last-child):before {
    top: 35%;
  }
  &:not(:last-child):after {
    top: 50%;
  }
}

.value {
  font-size: 96px;
  color: #fff;
}
.label {
  color: rgba(255, 255, 255, 0.35);

  font-size: 20px;
  margin-top: 10px;
}

@media (max-width: 825px) {
  .timer {
    flex-direction: column;
    min-width: 90px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .field {
    margin-top: 20px;

    &:before,
    &:after {
      display: none !important;
    }
  }
}
